body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    
}


table, th, td {
    border: 1px solid #fff;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #000;
    color: #fff;
}

.action {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

#deleteAll {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#refresh{
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#refresh:hover{
    background-color: #111;

}

#deleteAll:hover {
    background-color: #111;
}

.edit, .delete {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 6px 10px;
    margin-right: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.edit:hover, .delete:hover {
    background-color: #111;
}

.save {
    background-color: #000;
    color: #fff;
}
